.app-list {
  list-style-type: none;
  border: 1px solid #b5b7c4;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.app-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-h1 {
  color: #171f46;
  font-family: roboto;
  font-size: 20px;
}
.app-p {
  color: #b5b7c4;
  font-family: roboto;
  font-size: 15px;
}
.app-start-btn {
  background-color: transparent;
  border: 0px;
}
